body{
    background: black;
    font-family: 'Playfair Display', serif;
}
.nav-bar{
    text-align: center;
}
.nav-bar ul{
    display: flex;
}
.nav-bar li{
    list-style: none;
    padding: 2vw;

}
.nav-bar a{
    text-decoration: none;
    color: antiquewhite;
}