@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito:wght@200&family=Playfair+Display:ital,wght@1,500&family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
  
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;    
    font-size: 20px;
}
#top-nav{
    background:rgb(47, 46, 46);
    padding-bottom: 5vw;
    padding-top: 1vw;
    color:#E6D5B8;


}
.nav-bar{
    text-align: center;

}
.nav-bar ul{
    display: flex;
    justify-content: center;
}
.nav-bar li{
  list-style: none;
  padding:2vw ;

}
.nav-bar a{
    text-decoration: none;
    color:#E6D5B8;
  
}
.nav-bar span{
    color: #F0A500;
}
.greet{
    text-align: center;
}
#about{
    color:rgb(47, 46, 46);
    display: flex;
    width: 80%;
    padding: 2vw;  
    padding-bottom: 5vw;
}
#about .about-image img{
    width: 500px;
    
}
#about .who{
width: 700px;
padding-left: 20vw;

}
#about .who span{
    color: #F0A500;
}
#skills{
    display: flex;


}
#skills span{
    color: #F0A500;
}

 





.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services .boxes .box{
    background: gainsboro;
    margin: 20px 0;
    width: calc(100% / 3 - 50px);
    text-align: center;
    border-radius: 12px;
    padding:10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
  }
  .services .boxes .box:hover{
    background: #F0A500;
    color: rgb(8, 8, 8);
  }
  .services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: #F0A500;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
  }
  .boxes .box:hover .icon{
    background-color: #fff;
    color: #F0A500;
  }
  .services .boxes .box:hover .topic,
  .services .boxes .box:hover p{
    color: #0E2431;
    transition: all 0.4s ease;
  }
  .services .boxes .box:hover .topic,
  .services .boxes .box:hover p{
    color: #fff;
  }
  #services .title span{
    color: #F0A500;

  }
  #services .title {
      text-align: center;

  }
  



  /* MY Projects */
.project{
    background: gainsboro;
  }
  
  .project .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project .boxes .box{
    background: white;
    margin: 20px 0;
    width: calc(100% / 3 - 50px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
  }
  .project .boxes.box:hover{
    background: #F0A500;
    color: rgb(8, 8, 8);
  }
  .project .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: #F0A500;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
  }
  .boxes .box:hover .icon{
    background-color: #fff;
    color: #F0A500;
  }
  .project .boxes .box:hover .topic,
  .project .boxes .box:hover p{
    color: #0E2431;
    transition: all 0.4s ease;
  }
  .project .boxes .box:hover .topic,
  .project .boxes .box:hover p{
    color: #fff;
  }
  .project .boxes .box img{
    width: 100px;
    padding: 50px;
  }
  #project .title {
    text-align: center;
    padding-top: 1vw;

}
#project .title  span{
  color: #F0A500;

}
#project .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background:#F0A500;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  font-family: 'Yanone Kaffeesatz', sans-serif;    

}
#project .button button:hover{
  border-color:#F0A500 ;
  background-color: #fff;
  color: #070707;
}
  

